@font-face {
    font-family: 'Vazirmatn';
    src: url('../assets/fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
         url("../assets/fonts/webfonts/Vazirmatn[wght].woff2") format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
     font-family: 'farsi';
     src: url('../assets/fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff2') format('woff2'),
          url('../assets/fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.ttf') format('woff2-variations');
     font-weight: 100 900;
     font-style: normal;
     font-display: swap;
   } 